#myip {
    text-align: center;
    font-size: 60px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
}
body {
    width : 400px;
    height: 200px;
    font-family: 'Microsoft Yahei';
    background: #fefefe;
    text-shadow:1px 1px 6px #333;
    text-align: center;
}
